<h1>
  Search Movies Component
</h1>
<hr>
<form>
  <label for="movieTitle">Movie Title</label>
  <input #movieTitle type="text" name="movieTitle"/>
<br>
  <label for="movieYear">Movie Year</label>
  <input #movieYear type="text" name="movieYear"/>
<br>
  <button (click)="search(movieTitle.value,movieYear.value,1)">SEARCH</button>
</form>
<hr>
<form *ngIf="showPages">
  <label for="moviePage">Found {{numPages}} Pages</label>
  <input #moviePage type="number" min="1" max="{{numPages}}" name="moviePage"/>
<br>
  <button (click)="search(movieTitle.value,movieYear.value,moviePage.value)">SEARCH PAGE</button>
</form>
<hr>
<br>
<hr>
<table *ngIf="details">
  <tr><th>Title</th><th>Metascore</th><th>Plot</th><th>imdbRating</th><th>imdbVotes</th></tr>
  <tr>
    <td>{{details.Title}}</td>
    <td>{{details.Metascore}}</td>
    <td>{{details.Plot}}</td>
    <td>{{details.imdbRating}}</td>
    <td>{{details.imdbVotes}}</td>
  </tr>
</table>
<table>
  <tr><th>Poster</th><th>Title</th><th>Type</th><th>Year</th><th>imdbID</th></tr>
  <tr *ngFor="let movie of movies">
    <td *ngIf="movie.Poster != 'N/A'"><img src="{{movie.Poster}}" style="height:200px; width:150px;"></td>
    <td *ngIf="movie.Poster == 'N/A'"><img src="" style="height:200px; width:150px;"></td>
    <td>{{movie.Title}}</td>
    <td>{{movie.Type}}</td>
    <td>{{movie.Year}}</td>
    <td>{{movie.imdbID}}<button (click)="getdetail(movie.imdbID)">DETAILS</button></td>
  </tr>
</table>
